<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(患者一覧)}">
                  <!-- BootstrapのCSSを読み込み -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <meta charset="UTF-8" />
    <title>患者一覧</title>
</head>
<body>
    <h3>アルバム編集</h3>
    <form th:action="@{/patients/{id}/bookingLists/{bookingId}/edit(id=${patient.id}, bookingId=${bookingList.bookingId})}" th:object="${patient}" method="post">
        <div>
            <label for="name">名前：</label>
            <input type="text" id="name" name="name" th:field="*{name}">
        </div>
        <div>
            <label for="age">年齢：</label>
            <input type="age" id="age" name="age" th:field="*{age}">
        </div>
        <div>
            <label>性別：</label>
            <select id="gender" name="gender" th:field="*{gender}">
                <option value= "男性">男性</option>
                <option value= "女性">女性</option>
            </select>
        </div>
        <div>
            <label>血液型：</label>
            <select id="bloodType" name="bloodType" th:field="*{bloodType}">
                <option value= "A型">A型</option>
                <option value= "B型">B型</option>
                <option value= "O型">O型</option>
                <option value= "AB型">AB型</option>
            </select>
        </div>
        <div>
            <label for="diseaseName">病名：</label>
            <input type="text" id="diseaseName" name="diseaseName" th:field="*{diseaseName}">
        </div>
        <div>
            <label for="symptoms">症状：</label>
            <input type="text" id="symptoms" name="symptoms" th:field="*{symptoms}">
        </div>
        <button type="submit">変更</button>
    </form>
            <!-- BootstrapのJS（必要に応じて） -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>